@media screen and (max-width: 1366px) {
.global_pact .centerContent p {
font-size: calc(var(--body_size) - 10px);
}


.global_pact .containerWavesTwo .centerContent h3 {
font-size: calc(var(--item-space-max-great) - 60px);
}

.global_pact .containerWavesTwo .centerContent h4 {
font-size: calc(var(--font-med) - 60px);
}

.global_pact .containerWavesTwo .centerContent h4.textWhite {
font-size: calc(var(--title-med-plus) - 60px);
}

.imagem_292Mil {
width: calc(100% - 20vw);
}

.imagem_292Mil::after {
background-size: 177px;
}

.imagem_72::before {
left: -270px;
}

.connectivity_education .containerWaves .centerContent .contentLef {
width: calc(100% - 573px - 80px);
}

.connectivity_education .containerWaves .centerContent .contentLef h2 {
font-size: var(--font_plus_master);
}

.connectivity_education .containerWrapper .imageblock {
width: 573px;
height: 664px;
}

.connectivity_education .containerWaves .centerContent .contentLef p {
font-size: var(--body_max);
}

.connectivity_education .containerWaves .centerContent .contentLef strong {
font-size: var(--body_max);
}

.teleton-page .containerInformtion p {
font-size: var(--body_med_min)
}



.lgpd-page .wrapper-primary.bar-bottom .containerBlock p {
font-size: 34px;
}

.lgpd-page .wrapper-primary.bar-bottom .containerBlock p:last-child {
font-size: 28px;
}


.lgpd-page .wrapper_tertiary .centerContent .contentLeft h3 {
font-size: 148px;
margin-top: -16px;
}

.lgpd-page .wrapper_tertiary .centerContent .contentRight h3 {
font-size: 104px;
margin-top: -3px;
}

.lgpd-page .wrapper_tertiary .centerContent .contentRight h3:last-child {
font-size: 108px;
}


.bike-page .orangeBlock.wrapper_secundary.bar-bottom.bar-blue::before {
display: none;
}

.bike-page .orangeBlock.wrapper_secundary.bar-bottom.bar-blue .containerWidthFull .centerContent .containerImage{
  width: 100%;
}

.schoolSuccess-page .wrapper_secundary .centerContent .contentLeft .textMarks {
max-width: 650px;
}

.schoolSuccess-page .wrapper_secundary .centerContent .contentLeft .textMarks p {
font-size: 56px;
}

.schoolSuccess-page .wrapper_secundary .centerContent .contentLeft h3 {
padding-left: 155px;
font-size: 38px;
}

.schoolSuccess-page .wrapper_secundary .estados_container {
padding: 30px 0px 30px calc(65px + 60px + 12px);
background-size: 42px;
background-position: 63px 76px;
max-width: 1180px;
font-size: var(--body_size_min);
}

.schoolSuccess-page .wrapper_secundary .estados_container p {
font-size: var(--body_med_min);
}

.schoolSuccess-page .wrapper_tertiary .centerContent h3 {
font-size: var(--body_min);
}

.campusMobile-page .orangeBlock.containerWaves.wavesTop .centerContent .informationContent {
width: calc(100% - 745px);
}

.campusMobile-page .orangeBlock.containerWaves.wavesTop .centerContent .containerImage img {
width: 288px;
}

.campusMobile-page .blueBlock.wrapper-primary .containerWidthFull h4 {
font-size: var(--body_great_med)
}

.plenty-of-love-page .wrapper-primary h2 {
font-size: var(--sub_title_size_max);
}

.plenty-of-love-page .blueBlock.wrapper-primary.meals500::before {
background-position: calc(50% - 500px) center;
}

.plenty-of-love-page .blueBlock.wrapper-primary.meals500::after {
background-size: 227px;
background-position: calc(50% + 495px) center;
}

.plenty-of-love-page .wrapper_secundary .centerContent h3.textMark {
font-size: var(--body_size_min);
}

.plenty-of-love-page .wrapper_secundary .centerContent h3 {
font-size: var(--body_master);
}

.million_opportunities_page .wrapper_secundary .centerContent .blockInformation h5 {
font-size: var(--body_simple);
}




.million_opportunities_page .wrapper_fourth .centerContent::after {
background-size: 145px;
background-position: calc(100% - 0vw) calc(100% - 0vh);
}

.million_opportunities_page .wrapper_fourth .centerContent .logos span {
margin-left: 60px;
}

.page_energy_claro .centerContent .blockInformation p {
font-size: var(--body_med_min);
}

.page_energy_claro .centerContent .blockInformation span.usina-biogas-icon {
width: 170px;
}

.page_energy_claro .wrapper_tertiary .centerContent .contentLeft p {
font-size: var(--body_size_med);
}

.page_energy_claro .wrapper_tertiary .centerContent::after {
width: calc(1630px - 10vw);
}


.page_asume .wrapper_secundary .centerContent .containerInformation .informationBlock{
width: 100%;
}


.page_asume .wrapper_secundary .centerContent .containerInformation .informationBlock h2 {
font-size: 70px;
}

.page_asume .wrapper_secundary .centerContent .containerInformation .informationBlock:nth-child(2)::before {
font-size: 160px;
left: -133px;
}

.page_asume .wrapper_secundary .centerContent .centerContent-secundary h2 {
font-size: 282px;
}

.page_asume .orangeBlock.containerWaves.wavesTop .centerContent .centerContent-secundary h2 {
font-size: 170px;
}

.page_asume .orangeBlock.containerWaves.wavesTop .centerContent h3 {
font-size: 64px;
max-width: 925px;
margin: 80px 0px 0px auto;
}

.page_asume .orangeBlock.containerWaves.wavesTop .centerContent h3::before {
background-size: 630px;
left: -235px;
}

.page_asume .blueBlock.wrapper_fourth.bar-bottom .centerContent .textblockLeft {
width: calc(100% - 760px - 100px);
margin-top: 60px;
}

.page_asume .blueBlock.wrapper_fourth.bar-bottom .centerContent h2 {
font-size: 134px;
margin-left: -120px;
}

.page_asume .blueBlock.wrapper_fourth.bar-bottom .centerContent h3 {
font-size: 46px; 
}

.page_asume .blueBlock.wrapper_fourth.bar-bottom .centerContent p {
font-size: 76px;
}

.page_asume .blueBlock.wrapper_fourth.bar-bottom .centerContent .textblockRight::before {
background-size: 110px;
width: 224px;
height: 224px;
top: -142px;
right: 50px;
}

.page_asume .blueBlock.wrapper_fourth.bar-bottom .centerContent .textblockLeft::before {
background-size: 123px;
width: 224px;
height: 224px;
top: -145px;
left: -80px;
}

.page_asume .blueBlock.wrapper_fourth.bar-bottom .centerContent .textblockRight {
width: 650px;
}

.page_concept .wrapper_tertiary.orangeBlock .centerContent .image {
background-size: 100%;
padding-top: 105%;
}

.page_concept .wrapper_fourth .centerContent .image {
width: 734px
}

.page_concept .wrapper_fourth .centerContent .contentRight span::after {
background-size: 100%;
}

.page_concept .wrapper_fourth .centerContent .contentRight h2 {
font-size: 326px;
}

.codeEthics .blueBlock.wrapper-primary.bar-bottom .containerBlock .blockText {
max-width: 660px;
}

.codeEthics .blueBlock.wrapper-primary.bar-bottom .centerContent .informationLeft::after {
right: -13px;
}

.codeEthics .blueBlock.wrapper-primary.bar-bottom .centerContent .informationRight h2 {
font-size: 72px;
}

.codeEthics .blueBlock.wrapper-primary.bar-bottom .centerContent .informationRight h3 {
font-size: 36px;
}

.codeEthics .wrapper_secundary::before {
display: none;
}

.codeEthics .wrapper_tertiary::before {
background-size: 230px;
background-position: -140px 60px;
}

.codeEthics .circleWhite {
background-position: calc(100% - -70px) bottom;
bottom: -97px;
background-size: 195px;
}

.codeEthics .wrapper_tertiary::after {
height: 40px;
width: calc(100% - 170px);
bottom: -20px;
}

.page_institutoPortal .blueBlock.wrapper-primary.bar-top .centerContent .informationLeft {
max-width: 740px;
}

.page_institutoPortal .blueBlock.wrapper-primary.bar-top .centerContent .informationLeft p {
font-size: 48px;
}

.page_institutoPortal .blueBlock.wrapper-primary.bar-top .centerContent .informationLeft h3 {
font-size: 122px;
}

.blockImage_primary {
width: calc(100% - 740px);
}

.page_institutoPortal .blueBlock.wrapper-primary.bar-top .centerContent p {
font-size: 44px;
}

.page_institutoPortal .orangeBlock.containerWaves.wavesTop .centerContent .blockImage_primary {
width: calc(100% - 651px);
}

.page_institutoPortal .orangeBlock.containerWaves.wavesTop .centerContent .informationRight {
max-width: 600px;
}

.page_institutoPortal .orangeBlock.containerWaves.wavesTop .centerContent .informationRight p {
font-size: 44px;
}

.page_editorial .greyPlusBlock.containerWavesTwo .wrapper-primary .redBlock {
background-position: calc(100% - 80px) center;
}

.greyPlusBlock.containerWavesTwo.secondPart .wrapper_fourth .centerContent .centerContent_secundary .textBlockLeft {
max-width: 575px;
}

.greyPlusBlock.containerWavesTwo.secondPart .wrapper_fourth .centerContent .centerContent_secundary .textBlockLeft h5 {
font-size: var(--body_max);
max-width: 650px;
}

.greyPlusBlock.containerWavesTwo.secondPart .wrapper_fourth .centerContent .textBlockLeft p {
font-size: var(--body_min_simple);
}

.page_Paperless .blueBlock.wrapper-primary.bar-bottom .centerContent .contentLeft,
.page_Paperless .blueBlock.wrapper-primary.bar-bottom .centerContent .contentLeft_secundary {
width: calc(100% - 540px - 85px);
}

.page_Paperless .blueBlock.wrapper-primary.bar-bottom .centerContent h2 {
font-size: 192px;
}

.page_Paperless .blueBlock.wrapper-primary.bar-bottom .centerContent h3 {
margin-top: -20px;
font-size: 52px;
}

.page_Paperless .blueBlock.wrapper-primary.bar-bottom .centerContent p {
margin: 0px;
}

.page_pincha .wrapper_secundary .quote p.textMark {
font-size: var(--font_med)
}


.page_voluntaryConnection .wrapper_secundary .quote.blueMark p.textMark {
font-size: 68px;
}

.page_voluntaryConnection .wrapper_tertiary p {
font-size: 42px;
}

.page_voluntaryConnection .wrapper_tertiary h3 {
font-size: 74px;
}

.page_voluntaryConnection .wrapper_tertiary .containerCenter .quote.blueMark p.textMark {
font-size: 56px;
}

.page_voluntaryConnection .wrapper_tertiary .containerCenter .contentRight {
width: calc(100% - 520px);
}

.page_voluntaryConnection .wrapper_tertiary .containerCenter .quote.blueMark::after {
left: -177px;
}

.page_home .wrapper-primary .centerContent_secondary .containerCenter .circleContent {
width: calc(100% - 820px);
min-width: auto;
}

.page_home .wrapper-primary .centerContent_secondary .containerCenter .circleContent h5 {
font-size: 52px;
}

.page_home .wrapper-primary .centerContent_secondary .containerCenter h4 {
font-size: 74px;
}

.page_home .wrapper_secondary .centerContent .textBlockLeft h3,
.page_home .wrapper_secondary .centerContent .textBlockLeft h4 {
font-size: 56px;
}

.page_home .wrapper_tertiary .centerContent .containerBlocks h2 {
font-size: 132px;
}

.page_home .wrapper_tertiary .centerContent .containerBlocks .contentRight {
width: calc(100% - 600px);
}

.wrapper_fourth.profile .centerContent .contentRight h3 {
margin: -98px 0px 0px 337px;
font-size: 174px;
}

.page_home .wrapper_fifth .centerContent .contentRight h3 {
margin: -106px 0px 0px 307px;
}

.page_home .wrapper_fifth .centerContent_secondary .contentRight h4 {
font-size: 56px;
}

.page_home .wrapper_fifth .centerContent_secondary .contentRight h2 {
font-size: 342px;
}

.page_home .wrapper_fifth .centerContent .contentRight .contentText .textMark h5 {
font-size: 48px;
}

.page_home .wrapper_fifth h3.textRight {
margin-top: -30px;
}

.page_bem_estar_social .wrapper_secundary .centerContent .centerContent_secondary h3 {
font-size: 76px;
}

.page_bem_estar_social .wrapper_secundary .centerContent .centerContent_secondary h2 {
font-size: 176px;
}

.page_bem_estar_social .wrapper_secundary .centerContent .centerContent_secondary h4 {
font-size: 48px;
}
}