@media screen and (max-width: 1536px) {
.donationProject .contentLef {
width: calc(100% - 110px - 630px );
max-width: 540px;
margin-right: var(--item-space-size);
} 


.contentLef .word_one {
font-size: calc(var(--font_plus_max) - 20px);
}

.contentLef .word_two {
font-size: calc(var(--sub_title_size) - 30px);
letter-spacing: 1px;
}

.contentLef .word_three {
font-size: calc( var(--sub_title_max) - 30px);
letter-spacing: normal;
}

.contentLef .word_four {
font-size: calc(var(--font_med) - 20px);
}

.contentLef .word_five {
font-size: calc(var(--body_min) - 10px);
}

.contentLef .word_five strong {
font-size: calc(var(--body_min) - 10px);
}

.donationProject .containerWrapper .imageblock {
width: 630px;
height: 526px;
}


.global_pact .doubleSchool .containerWidthFull .centerContent::before {
left: -80px;
}

.global_pact .centerContent h2 {
font-size: calc(var(--title-med) - 50px);
margin-left: 60px;
}

.global_pact .centerContent p {
font-size: var(--body_size);
margin-left: 60px;
}

.global_pact .doubleSchool .centerContent p:nth-child(3)::after {
bottom: -476px;
margin-left: 20px;
}

.global_pact .doubleSchool .containerWidthFull {
background-size: calc(100% - 78vw);
}

.global_pact .textBlock-left {
width: calc(100% - 220px);
}

.global_pact .centerContent .textBlock-left p {
margin-left: 0px;
}

.global_pact .containerWavesTwo .centerContent p {
font-size: calc(var(--body_size) - 10px);
width: calc(100% - 80px);
}

.global_pact .containerWavesTwo .centerContent p strong {
font-size: calc(var(--item-space-size) - 10px);
}

.global_pact .textBlock-right {
width: calc(100% - 80px);
margin-right: 100%;
}

.global_pact .containerWavesTwo .centerContent h3 {
font-size: calc(var(--item-space-max-great) - 50px);
}

.connectivity_education .wrapper_secundary .centerContent {
max-width: 1200px;
}

.connectivity_education .wrapper_secundary .containerWidthFull .centerContent h3 {
font-size: var(--body_simple);
}

.connectivity_education .wrapper_secundary .containerWidthFull p {
padding: 0px var(--item-space-simple);
font-size: var(--body_simple);
}

.markedText {
font-size: var(--body_size);
}

.teleton-page .wrapper_tertiary .centerContent .containerInformation h5, .teleton-page .wrapper_tertiary .centerContent .containerInformation p {
font-size: var(--body_min);
}

.lgpd-page .wrapper-primary.bar-bottom .containerBlock p {
font-size: var(--body_med);
}

.lgpd-page .wrapper-primary.bar-bottom .containerBlock p:last-child {
font-size: var(--detail-max);
margin-top: var(--item-space-med-min);
}


.teleton-page .wrapper_secundary.bar-bottom .containerWidthFull .centerContent h2 {
float: right;
}

.campusMobile-page .orangeBlock.containerWaves.wavesTop .centerContent .informationContent h2 {
font-size: var(--title-master-plus)
}

.million_opportunities_page .wrapper_tertiary .blockInformation {
margin-right: 0px;
}

.page_energy_claro .centerContent .blockInformation:first-child {
margin-right: 70px;
}

.page_energy_claro .centerContent .blockInformation:nth-child(3) {
margin-right: 40px;
}

.codeEthics .blueBlock.wrapper-primary.bar-bottom .containerBlock .blockText {
max-width: 770px;
padding: 65px 65px 65px;
margin-top: 80px;
}

.codeEthics .blueBlock.wrapper-primary.bar-bottom .containerBlock .blockText h2 {
font-size: 100px;
top: -80px;
}

.codeEthics .blueBlock.wrapper-primary.bar-bottom .containerBlock .blockText p {
font-size: 36px;
}
}