@media screen and (max-width: 1600px) {
.bike-page .wrapper_center p:last-child::before {
width: 250px;
margin: -304px 0px 0px 20px;
bottom: -245px;
}

.schoolSuccess-page .wrapper_secundary .containerImage {
height: 955px;
width: 488px;
top: 50px;
}

.plenty-of-love-page .wrapper_secundary .centerContent h4 {
font-size: var(--body_great_med); 
}


.plenty-of-love-page .wrapper_secundary .centerContent h3.textMark {
border-radius: 50px;
font-size: var(--font_min);
left: 50%;
transform: translateX(-50%);
}

.plenty-of-love-page .wrapper_secundary .centerContent h3 {
font-size: var(--body_size_med);
}
}