

.page_social_action_music .wrapper_secundary .centerContent::before {
    content: '';
    background-image: url('../images/mais-horizontal-grey.svg');
    background-repeat: no-repeat;
    background-size: 350px;
    background-position: right bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 60px;
    right: -130px;
}

.page_social_action_music .wrapper_secundary .centerContent::after {
    z-index: -1;
}


.page_social_action_music .orangeBlock.wrapper-primary .contentBlock h2 {
    font-size: 150px;
}

.page_social_action_music .orangeBlock.wrapper-primary .contentBlock h2::after {
    width: 300px;
    height: 308px;
    top: -70px;
    right: -277px;
}

.page_social_action_music .orangeBlock.wrapper-primary .contentBlock .contentLeft h5 {
    font-size: 100px; 
    margin-top : 50px;
}

.page_social_action_music .orangeBlock.wrapper-primary .contentBlock h3 {
    font-size: 150px;
    margin-top: -50px;
}

.page_social_action_music .orangeBlock.wrapper-primary .contentBlock h5 {
    font-size: 100px;
}

.page_social_action_music .orangeBlock.wrapper-primary .contentBlock .contentRight h2 {
    display: block;
    margin-top: -40px;
}

.page_social_action_music .orangeBlock.wrapper-primary .contentBlock p {
    font-size: 44px;
    margin: 0px;
}

.page_social_action_music .orangeBlock.wrapper-primary .contentBlock h4 {
    font-size: 78px;
    margin-top: -30px;
}

.page_social_action_music .orangeBlock.wrapper-primary .contentBlock .contentRight {
    max-width: 440px;
    width: calc(100% - 416px - 140px);
}

.page_social_action_music .orangeBlock.wrapper-primary .contentBlock .contentRight h2::after {
    width: 250px;
    height: 335px;
    top: -100px;
    right: 70px;
}

.page_social_action_music .wrapper_secundary .centerContent h2 {
    font-size: 122px;
    margin-top: -15px;
}

.quoteIcon_white.quote::before {
    background-image: url('../images/aspas-bottom-white.svg');
}

.quoteIcon_white.quote::after {
    background-image: url('../images/aspas-top-white.svg');
}

.page_social_action_music .wrapper_tertiary {
    padding-top: 154px;
}

.page_social_action_music .wrapper_tertiary .quote p {
    color: var(--white);
    width: calc(100% - 300px);
}

.quote.orangeMark .autor {
    color: var(--white);
    background-color: var(--orange);
    margin: 30px 0px 0px 480px;
    font-family: var(--din-mediumItalic);
    font-size: var(--body_simple);
    background-color: var(--orange);
    border-radius: 10px;
    display: inline-block;
    padding: 0px 28px;
}

.page_social_action_music .wrapper_tertiary .orangeBlock {
    border-radius: 60px;
    margin: 110px 0px -130px;
    padding: 100px 0px 170px;
    display: inline-block;
    position: relative;
}

.page_social_action_music .wrapper_tertiary .centerContent {
    position: relative
}

.page_social_action_music .wrapper_tertiary .centerContent .quote.quoteIcon_white.orangeMark::before {
    content: '';
    background-image: url('../images/violino-azul.svg');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: right center;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 400px;
    height: 100%;
    left: inherit;
}

.page_social_action_music .wrapper_tertiary .orangeBlock::after {
    content: '';
    width: 190px;
    height: 190px;
    border-radius: 100%;
    background-color: var(--red);
    background-image: url('../images/icone-musica-branco.svg');
    background-size: 100px;
    background-position: calc(50% - 10px) center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -85px;
    right: 115px;
}
.page_social_action_music .wrapper_tertiary .orangeBlock h3 {
    font-family: var(--rightGrotesk-spatialRegular);
    font-size: 60px;
    text-align: center;
    width: calc(100% - 150px);
    margin: 0px auto 0px;
}

.page_social_action_music .wrapper_tertiary .orangeBlock h4 {
    font-family: var(--grotesk-tightBlack);
    font-size: 70px;
    color: var(--white);
    text-transform: uppercase;
    text-align: center;
    width: calc(100% - 150px);
    margin: 20px auto 0px;
}

.page_social_action_music .wrapper_tertiary .orangeBlock .backgroundBanner {
    background-image: url('../images/imagem-violino-reta-sem-corte.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    width: 100%;
    height: 480px;
    margin: 114px 0px 0px;
}


.page_social_action_music .wrapper_tertiary .orangeBlock p {
    font-family: var(--din-regular);
    font-size: 40px;
    color: var(--white);
    width: calc(100% - 160px);
    margin: 80px auto 0px;
}

.page_social_action_music .wrapper_tertiary .orangeBlock p strong {
    font-family: var(--din-black);
    font-size: inherit;
    color: var(--white);
}

.page_social_action_music .wrapper_fourth {
    padding-top: 130px;
}

.page_social_action_music .wrapper_fourth h2 {
    font-family: var(--grotesk-tightBlack);
    font-size: 140px;
    color: var(--blue);
    text-align: center;
    margin-top: 15px;
}

.page_social_action_music .wrapper_fourth .blockContent {
    margin-top: 10px;
    position: relative;
}

.page_social_action_music .wrapper_fourth .blockContent.students::before {
    content: '';
    background-image: url('../images/tres-setas-direita-laranja.svg');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 234px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: -120px;
    z-index: -1;
}

.page_social_action_music .wrapper_fourth .blockContent.students::after {
    content: '';
    background-image: url('../images/tres-pessoas-laranja.svg');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 234px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -160px;
    right: -80px;
    z-index: -1;
}

.page_social_action_music .wrapper_fourth .blockContent.events::before {
    content: '';
    background-image: url('../images/icone-calendario-laranja.svg');
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 270px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -100px;
    left: -130px;
    z-index: -1;
}

.page_social_action_music .wrapper_fourth .blockContent.hours {
    margin-top: 100px;
}

.page_social_action_music .wrapper_fourth .blockContent.hours::before {
    content: '';
    background-image: url('../images/icone-relogios-laranja.svg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 310px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100px;
    right: -190px;
    z-index: -1;
}


.page_social_action_music .wrapper_fourth .blockContent h3 {
    font-family: var(--rightGrotesk-spatialBlack);
    font-size: 140px;
    text-align: center;
    position: relative;
}

.page_social_action_music .wrapper_fourth .blockContent h3::before {
    content: '';
    background-image: url(../images/balao-apontando-direita-laranja.svg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100%;
    width: 400px;
    height: 480px;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.page_social_action_music .wrapper_fourth .blockContent.events h3 {
    margin-top: -40px;
}

.page_social_action_music .wrapper_fourth .blockContent.events h3::before {
    background-image: url('../images/balao-apontando-esquerda-laranja.svg');
    top: 30px;
}

.page_social_action_music .wrapper_fourth .blockContent.hours h3 {
    margin-top: 20px;
}

.page_social_action_music .wrapper_fourth .blockContent h4 {
    font-family: var(--monument-ultralight);
    font-size: 70px;
    text-align: center;
    margin-top: 20px;
}

.page_social_action_music .wrapper_fourth p {
    font-family: var(--rightGrotesk-spatialBlack);
    font-size: var(--font_plus_master);
    color: var(--orange);
    text-align: center;
}


.page_social_action_music .wrapper_fourth h2:last-child {
    font-size: 110px;
    font-family: var(--rightGrotesk-spatialBlack);
    margin-top: 180px!important;
    position: relative;
}

.page_social_action_music .wrapper_fourth h2:last-child::before {
    content: '';
    background-image: url('../images/grey_cricle.svg');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 100%;
    width: 270px;
    height: 270px;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
}




















@media screen and (max-width: 1051px) {

.page_social_action_music .wrapper_tertiary .quote{
padding-left: 0px;
}
.page_social_action_music .orangeBlock.wrapper-primary .contentBlock .contentRight,
.page_social_action_music .wrapper_tertiary .quote p {
width: 100%;
}
.page_social_action_music .wrapper_tertiary .quote p{
font-size: 30px;
}

.page_social_action_music .wrapper_tertiary .quote p.textMark{
    padding-left: 10px;
}

.page_social_action_music .wrapper_tertiary .quote p{
padding-left: 0px;
}

.page_social_action_music .wrapper_tertiary .centerContent .quote.quoteIcon_white.orangeMark::before{
    display: none;
}

.page_social_action_music .wrapper_secundary .centerContent p:last-child{
    margin-top: 20px;
}

.page_social_action_music .orangeBlock.wrapper-primary .contentBlock {
width: calc(100% - 20px);
}

.page_social_action_music .orangeBlock.wrapper-primary .contentBlock h2 {
font-size: 110px;
}

.page_social_action_music .orangeBlock.wrapper-primary .contentBlock .contentLeft h5 {
font-size: 60px;
margin: 0px 0px 0px 0px;
}

.page_social_action_music .orangeBlock.wrapper-primary .contentBlock h3 {
font-size: 110px;
margin-top: -40px;
text-align: left;
}

.page_social_action_music .orangeBlock.wrapper-primary .contentBlock h5{
font-size: 110px;
margin-top: -60px;
}
.page_social_action_music .orangeBlock.wrapper-primary .contentBlock .contentRight h2{
font-size: 70px;
margin-top: -26px;
}

.page_social_action_music .orangeBlock.wrapper-primary .contentBlock h2::after {
width: 147px;
height: 208px;
top: 0px;
right: -140px;
}

.page_social_action_music .orangeBlock.wrapper-primary .contentBlock .contentRight h2::after {
width: 150px;
top: -30px;
right: 0px;
}

.page_social_action_music .wrapper_secundary .centerContent p {
font-size: 40px;
}

.page_social_action_music .wrapper_secundary .centerContent h2 {
text-decoration: underline;
font-size: 40px;
margin: 0px;
}

.page_social_action_music .wrapper_secundary .centerContent h2::after,
.page_social_action_music .wrapper_secundary .centerContent::after {
display: none;
}

.page_social_action_music .wrapper_secundary .centerContent::before {
background-size: 210px;
right: -70px;
}

.page_social_action_music .wrapper_tertiary {
padding-top: var(--item-space-max);
}

.quote.orangeMark .autor {
margin: 30px 0px 0px 0px;
font-size: 34px;
padding: 0px 14px;
}

.page_social_action_music .wrapper_tertiary .centerContent::before {
background-size: 100px;
background-position: right 357px;
left: -70px;
}

.page_social_action_music .wrapper_tertiary .orangeBlock {
border-radius: 30px;
margin: 50px 0px -50px 0px;
padding: 10px 0px 65px;
width: 100%;
}

.page_social_action_music .wrapper_tertiary .orangeBlock h3 {
font-size: 30px;
margin: 20px auto 0px;
width: calc(100% - 20px);
}

.page_social_action_music .wrapper_tertiary .orangeBlock h4 {
font-size: 38px;
width: calc(100% - 20px);
margin: 20px auto 0px;
}

.page_social_action_music .wrapper_tertiary .orangeBlock .backgroundBanner {
margin: 45px 0px 0px;
width: 100%;
height: 160px;
}

.page_social_action_music .wrapper_tertiary .orangeBlock p {
font-size: 32px;
width: calc(100% - 40px);
margin: 35px auto 0px;
}

.page_social_action_music .wrapper_tertiary .orangeBlock::after {
width: 70px;
height: 70px;
background-size: 40px;
background-position: calc(50% - 2px) center;
bottom: -20px;
right: 25px;
}

.page_social_action_music .wrapper_fourth {
padding-top: 50px;
}

.page_social_action_music .wrapper_fourth h2 {
font-size: 98px;
}

.page_social_action_music .wrapper_fourth .blockContent h3 {
font-size: 94px;
}

.page_social_action_music .wrapper_fourth .blockContent h4 {
font-size: 28px;
margin: 0px;
}

.page_social_action_music .wrapper_fourth .blockContent h3::before {
width: 265px;
top: -10px;
}

.page_social_action_music .wrapper_fourth .blockContent.students::before {
background-size: 54px;
top: -20px;
left: 0px;
}

.page_social_action_music .wrapper_fourth .blockContent.students::after {
background-size: 84px;
top: 50px;
right: -50px;
display: none;
}

.page_social_action_music .wrapper_fourth .blockContent {
margin: 0px;
}

.page_social_action_music .wrapper_fourth p {
font-size: 50px;
}

.page_social_action_music .wrapper_fourth .blockContent.events h3 {
margin: 0px;
}

.page_social_action_music .wrapper_fourth .blockContent.events::before {
background-size: 80px;
top: -120px;
left: 0px;
display: none;
} 

.page_social_action_music .wrapper_fourth .blockContent.events {
margin-top: 30px;
}

.page_social_action_music .wrapper_fourth .blockContent.events h3::before {
top: -10px;
}

.page_social_action_music .wrapper_fourth .blockContent.hours {
margin-top: 50px;
display: none;
}


.page_social_action_music .wrapper_fourth .blockContent.hours h3 {
margin-top: 10px;
}

.page_social_action_music .wrapper_fourth h2:last-child{
margin-top: 50px!important;
}

.page_social_action_music .wrapper_fourth .blockContent.hours::before {
display: none;
}

.page_social_action_music .wrapper_fourth h2:last-child {
font-size: 48px;
margin-top: 80px;
}

.page_social_action_music .wrapper_fourth h2:last-child::before {
width: 110px;
}

}