:root {
    --sub_title_size_max: 128px;
    --font-max: 200px;
    --sub_title_master_min: 140px;
}
aside{
    z-index: 12;
}
.page_bem_estar_social .orangeBlock.wrapper-primary .centerContent h4,
.page_bem_estar_social .wrapper_secundary .centerContent h5,
.quote.blueMark p.textMark,
.page_voluntaryConnection .quote.blueMark p.textMark,
.page_voluntaryConnection .wrapper_tertiary .containerCenter .quote.blueMark p.textMark,
.page_voluntaryConnection .wrapper_fourth div h2,
.page_pincha .wrapper_secundary .quote p.textMark,
.cardCenter .balloonInformation span,
.page_Paperless .wrapper_secundary .centerContent h3.textLeft,
.page_institutoPortal .orangeBlock.containerWaves.wavesTop .centerContent .informationRight p strong,
.page_asume .wrapper_secundary .centerContent .centerContent-secundary p strong,
.quote p.textMark,
.million_opportunities_page .orangeBlock.wrapper-primary .centerContent strong,
.million_opportunities_page .wrapper_fourth .centerContent .containerText p strong,
.million_opportunities_page .wrapper_fourth .centerContent .containerText p:last-child strong,
.schoolSuccess-page .wrapper_tertiary .centerContent h3,
.lgpd-page .wrapper_tertiary .centerContent p strong,
.markedText,
.connectivity_education .wrapper_secundary .containerWidthFull .centerContent h3.textCenter,
.connectivity_education .blockTextOne span,
.connectivity_education .blockTextTwo span,
.doubleSchool-page .wrapper-primary .centerContent h4,
.textBackground,
.bike-page .wrapper-primary .centerContent .quotationMarks p,
.plenty-of-love-page .wrapper_secundary .centerContent h4 {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    display: inline;
}
.donationProject .containerWaves::before{
    top: -40px;
    height: 40px;
    background-repeat: repeat-x;
    background-size: 480px;
}
.donationProject .contentLef {
    width: calc(100% - 110px - 500px );
}
.donationProject .containerWaves .containerWidthFull {
    padding: 200px 0px 175px;
}
.plenty-of-love-page .wrapper-primary h2{
    margin-top: 0px;
    font-size: var(--sub_title_size_max);
}
.bar-bottom::after{
    display: none;
}
.red-border{
    display: block;
    width: 800px;
    background-color: #DA291C;
    height: 70px;
    margin: 0px auto;
    border-radius: 100px;
    margin-top: -40px;
    margin-bottom: 120px;
}
main.global_pact aside{
    z-index: 12;
}


.doubleSchool-page .firstFold .wrapperContent .titleimage,
.page_pincha .firstFold .wrapperContent .titleimage{
    top: 0px;
    height: calc(100vh - calc(380px / 2));
}
.doubleSchool-page .firstFold .wrapperContent .titleimage{
    background-image: url('../images/banner-diploma-desktop-02.png');
}

.logo-claro-top{
	background-image: url(../images/logo_claro.svg);
    background-size: contain;
    background-position: center;
    height: 91px;
    width: 242px;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 10;
}
.doubleSchool-page .logo-claro-top,
.page_pincha .logo-claro-top{
    background-image: url('../images/logo_claro_w.svg');
}
.firstFold.logoTop::before,
.global_pact .firstFold .wrapperContent .titleimage::after,
.connectivity_education .firstFold::after {
    display: none;
}
.global_pact .firstFold .wrapperContent .titleimage{
    background-image: url(../images/banner-topo-Pacto-Global-desktop-01.png);
}

.centerContent,
.containerCenter,
.global_pact .containerWavesTwo .centerContent,
.connectivity_education .containerWaves .centerContent,
.connectivity_education .wrapper_secundary .containerWidthFull h4,
.connectivity_education .wrapper_secundary .containerWidthFull h2,
.connectivity_education .wrapper_secundary .centerContent,
.connectivity_education .wrapper_secundary .containerWidthFull p,
.centerContent_secondary,
.page_pincha .containerWidthFull.trainees .cardCenter,
.page_social_action_music .orangeBlock.wrapper-primary p,
.page_social_action_music .orangeBlock.wrapper-primary .contentBlock,
.schoolSuccess-page .orangeBlock.containerWaves.wavesTop p,
.containerWidthFull.trainees .cardCenter,
.million_opportunities_page .wrapper_tertiary h2,
.million_opportunities_page .wrapper_tertiary h3,
.page_editorial .greyPlusBlock.containerWavesTwo .containerWidthFull h2,
.page_voluntaryConnection .blueBlock.containerWaves.wavesTop h2,
.page_voluntaryConnection .blueBlock.containerWaves.wavesTop h4,
.page_voluntaryConnection .blueBlock.containerWaves.wavesTop p.textCenter,
.page_voluntaryConnection .wrapper_fourth h4,
.page_pincha .wrapper_secundary .quote,
.page_pincha .containerWidthFull.trainees h2,
.page_pincha .containerWidthFull.trainees p.textCenter,
.page_energy_claro .wrapper_tertiary h2,
.page_social_action_music .wrapper_fourth h2:last-child{
    max-width: var(--container)!important;
}
.campusMobile-page .blueBlock.wrapper-primary h2,
.campusMobile-page .blueBlock.wrapper-primary .containerWidthFull{
     max-width: 1400px!important;
}
.containerCenter,
.campusMobile-page .blueBlock.wrapper-primary h2,
.million_opportunities_page .wrapper_tertiary h2,
.million_opportunities_page .wrapper_tertiary h3,
.page_editorial .greyPlusBlock.containerWavesTwo .containerWidthFull h2,
.page_voluntaryConnection .blueBlock.containerWaves.wavesTop h2,
.page_voluntaryConnection .blueBlock.containerWaves.wavesTop h4,
.page_voluntaryConnection .blueBlock.containerWaves.wavesTop p.textCenter,
.page_voluntaryConnection .wrapper_fourth h2,
.page_voluntaryConnection .wrapper_fourth .centerContent_secondary,
.page_voluntaryConnection .wrapper_fourth h4,
.page_pincha .containerWidthFull.trainees h2,
.page_pincha .containerWidthFull.trainees p.textCenter,
.page_energy_claro .wrapper_tertiary h2,
.page_social_action_music .wrapper_fourth h2:last-child{
	margin: auto;
}

.connectivity_education .containerWaves{
    margin-bottom: 0px;
}
.containerButtons .button-pt, 
.containerButtons .button-es,
.firstFold::after{
    display: none;
}
footer p a{
    color: var(--white);
    text-decoration: none;
}
footer p a:hover{
    text-decoration: underline;
}

.wrapperCenter .pdfDownload:hover:before{
    background-image: url('../images/download-hover.png');
    background-size: 99px;
}

.global_pact .containerCenter::before{
    right: -344px;
}
.global_pact .centerContent p{
    font-size: 40px;
}
.global_pact .doubleSchool .centerContent p:nth-child(3)::after{
    content: '';
    background-image: url(../images/dez-principios-texto-01.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    position: relative;
    bottom: 0px;
    display: block;
    margin-left: 0px;
    margin-top: 20px;
}

@media screen and (max-width: 1500px) {
	.logo-claro-top{
		top: 40px;
		width: 172px;
	}
}



@media screen and (max-width: 1051px) {
.doubleSchool-page .logo-claro-top,
.page_pincha .logo-claro-top{
background-image: url('../images/logo_claro.svg');
}
.doubleSchool-page .firstFold .wrapperContent .titleimage{
background-image: url('../images/banner-diploma-mobile-02.png');
background-size: var(--horizontal);
}
.doubleSchool-page .firstFold .wrapperContent .titleimage,
.page_pincha .firstFold .wrapperContent .titleimage{
height: calc(100% - 230px);
top: 90px;
}
.contentLef .word_four{
margin-top: 8px;
}
.donationProject .contentLef{
width: 100%;
}
.donationProject .containerWaves .containerWidthFull {
padding: 0px 0px 30px;
}
.red-border{
width: calc(100% - 80px);
}
.logo-claro-top {
top: 4px;
height: 40px;
width: 112px;
top: 20px;
}
.global_pact .firstFold .wrapperContent .titleimage{
background-image: url(../images/banner-topo-Pacto-Global-mobile-01.png);
}

.social-links a,
.social-links a.social-instagram{
background-size: 16px;
width: 25px;
height: 25px;
}
.social-links a.social-facebook{
background-size: 7px;
}
.donationProject .containerWrapper .imageblock::after{
background-size: 480px; 
}
.donationProject .containerWaves{
padding-bottom: 0px;
}
.wrapperCenter .information{
font-size: 30px;
}
.wrapperCenter .pdfDownload {
width: 150px;
height: 150px;
background-size: 70px;
}
.logo-insitutoClaro{
width: 80%;
}
.centerContent {
width: calc(100% - 40px);
}
.wrapperCenter .pdfDownload::before {
background-size: 100%;
bottom: 0px;
right: 0px;
}
.donationProject .containerWrapper .imageblock{
background-position: center;
height: 260px;
}
.contentLef .word_one {
font-size: calc(var(--font_plus_max) - 56px);
}
.contentLef .word_two {
font-size: calc(var(--sub_title_size) - 100px);
}
.contentLef .word_three {
font-size: calc( var(--sub_title_max) - 123px);
}
.logo-claro {
width: 122px;
top: 60px;
}
}

@media screen and (max-width: 320px) {
.doubleSchool .containerWidthFull .centerContent h3 span {
font-size: 44px;
}
.logo-claro-top{
height: 28px;
width: 72px;
top: 32px;
}
}


@media screen and (min-width: 370px) {
    @media (max-aspect-ratio: 9/16) {
    .doubleSchool-page .firstFold .wrapperContent .titleimage,
    .page_home .firstFold .wrapperContent .titleimage,
    .connectivity_education .firstFold .wrapperContent .titleimage,
    .lgpd-page .firstFold .wrapperContent .titleimage,
    .bike-page .firstFold .wrapperContent .titleimage,
    .schoolSuccess-page .firstFold .wrapperContent .titleimage,
    .million_opportunities_page .firstFold .wrapperContent .titleimage {
    background-size: var(--vertical);
    }
}

