
@font-face {
    font-family: 'DINPro-Light';
    src: url('../fonts/DINPro-Light.otf');
    font-display: swap;
}

@font-face {
    font-family: 'DINPro-regular';
    src: url('../fonts/D-DIN-PRO-400-Regular.otf');
    font-display: swap;
}

@font-face {
    font-family: 'DINPro-Medium';
    src: url('../fonts/D-DIN-PRO-500-Medium.otf');
    font-display: swap;
}

@font-face {
    font-family: 'DINPro-MediumItalic';
    src: url('../fonts/DINPro-MediumItalic.otf');
    font-display: swap;
}

@font-face {
    font-family: 'DINPro-SemiBold';
    src: url('../fonts/D-DIN-PRO-600-SemiBold.otf');
    font-display: swap;
}

@font-face {
    font-family: 'DINPro-Bold';
    src: url('../fonts/D-DIN-PRO-700-Bold.otf');
    font-display: swap;
}

@font-face {
    font-family: 'DINPro-ExtraBold';
    src: url('../fonts/D-DIN-PRO-800-ExtraBold.otf');
    font-display: swap;
}

@font-face {
    font-family: 'DINPro-Black';
    src: url('../fonts/DINPro-Black.otf');
    font-display: swap;
}

@font-face {
    font-family: 'DINPro-BlackItalic';
    src: url('../fonts/DINPro-BlackItalic.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'DINpro-Heavy';
    src: url('../fonts/D-DIN-PRO-900-Heavy.otf');
    font-display: swap;
}

@font-face {
    font-family: 'DINPro';
    src: url('../fonts/DINPro.otf');
    font-display: swap;
}

@font-face {
    font-family: 'DINPro-CondIta';
    src: url('../fonts/DINPro-CondIta.otf');
    font-display: swap;
}

@font-face {
    font-family: 'DINPro-CondMedium';
    src: url('../fonts/DINPro-CondMedium.otf');
    font-display: swap;
}

@font-face {
    font-family: 'DINPro-CondMediIta';
    src: url('../fonts/DINPro-CondMediIta.otf');
    font-display: swap;
}

@font-face {
    font-family: 'DINPro-CondBold';
    src: url('../fonts/DINPro-CondBold.otf');
    font-display: swap;
}

@font-face {
    font-family: 'DINPro-CondBoldIta';
    src: url('../fonts/DINPro-CondBoldIta.otf');
    font-display: swap;
}

@font-face {
    font-family: 'DINPro-CondBlack';
    src: url('../fonts/DINPro-CondBlack.otf');
    font-display: swap;
}

@font-face {
    font-family: 'DINPro-CondBlackIta';
    src: url('../fonts/DINPro-CondBlackIta.otf');
    font-display: swap;
}

@font-face {
    font-family: 'Monument-Extended-Ultralight';
    src: url('../fonts/Monument\ Extended\ Ultralight.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'MonumentExtended-Regular';
    src: url('../fonts/MonumentExtended-Regular.otf');
    font-display: swap;
}

@font-face {
    font-family: 'MonumentExtended-Light';
    src: url('../fonts/MonumentExtended-Light.otf');
    font-display: swap;
}

@font-face {
    font-family: 'Monument-Extended-bold';
    src: url('../fonts/Monument\ Extended\ Bold.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'MONUMENTEXTENDED-ULTRABOLD';
    src: url('../fonts/MONUMENTEXTENDED-ULTRABOLD.OTF');
    font-display: swap;
}

@font-face {
    font-family: 'MonumentExtended-Black';
    src: url('../fonts/MonumentExtended-Black.otf');
    font-display: swap;
}

@font-face {
    font-family: 'RightGrotesk-CompactBlack';
    src: url('../fonts/RightGrotesk-CompactBlack.otf');
    font-display: swap;
}

@font-face {
    font-family: 'RightGrotesk-medium';
    src: url('../fonts/RightGrotesk-Medium.otf');
    font-display: swap;
}

@font-face {
    font-family: 'RightGrotesk-TightMedium';
    src: url('../fonts/RightGrotesk-TightMedium.otf');
    font-display: swap;
}

@font-face {
    font-family: 'RightGrotesk-TallBold';
    src: url('../fonts/RightGrotesk-TallBold.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'DIN-Pro-Bold-Italic';
    src: url('../fonts/DIN-Pro-Bold-Italic.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'RightGrotesk-Fine';
    src: url('../fonts/RightGrotesk-Fine.otf');
    font-display: swap;
}

@font-face {
    font-family: 'RightGrotesk-TightBlack';
    src: url('../fonts/RightGrotesk-TightBlack.otf');
    font-display: swap;
}

@font-face {
    font-family: 'RightGrotesk-TightBlack';
    src: url('../fonts/RightGrotesk-TightBlack.otf');
    font-display: swap;
}

@font-face {
    font-family: 'RightGrotesk-NarrowLight';
    src: url('../fonts/RightGrotesk-NarrowLight.otf');
    font-display: swap;
}

@font-face {
    font-family: 'RightGrotesk-SpatialRegular';
    src: url('../fonts/RightGrotesk-SpatialRegular.otf');
    font-display: swap;
}

@font-face {
    font-family: 'RightGrotesk-SpatialBlack';
    src: url('../fonts/RightGrotesk-SpatialBlack.otf');
    font-display: swap;
}

@font-face {
    font-family: 'RightGrotesk-NarrowLight';
    src: url('../fonts/RightGrotesk-NarrowLight.otf');
    font-display: swap;
}

@font-face {
    font-family: 'RightGrotesk-WideMedium';
    src: url('../fonts/RightGrotesk-WideMedium.otf');
    font-display: swap;
}

@font-face {
    font-family: 'RightGrotesk-WideBlack';
    src: url('../fonts/RightGrotesk-WideBlack.otf');
    font-display: swap;
}


:root { 
    --container: 1200px;
    --vertical: contain;
    --horizontal: contain; 
/* Tamanhos de Fonte */
    --title-max: 488px;
    --title-max-med: 422px;

    --title-master: 390px;
    --title-master-med: 374px;
    --title-master-plus-max: 354px;
    --title-master-plus-max-min: 352px;
    --title-master-plus-master: 340px;
    --title-master-plus-plus: 334px;
    --title-master-plus: 340px;
    --title-master-simples: 330px;
    --title-plus: 306px;
    --title-plus-min: 304px;

    --title-simple-max: 284px;
    --title-simple-plus: 280px;
    --title-simple-great: 278px;
    --title-simple: 272px;
    --font-max-plus: 268px;
    --font-max-plus-simple: 266px;
    --font-max-full-med: 264px;
    --font-max-full: 262px;
    --font-max: 250px;
    --font-max-min: 248px;
    --font-med-simple-max: 244px;
    --font-med-simple: 242px;
    --font-med: 240px;
    --font-med-min: 236px;
    --title-med-plus: 235px;
    --title-med: 232px;
    --title-med-master: 228px;
    --title-med-min: 226px;
    --title-medium: 224px;
    --title: 222px;
    --title_detail_plus_max: 216px;
    --title_detail_plus: 214px;
    --title_detail_min: 212px;
    --title_detail_simple: 210px;
    --title_detail_max: 206px;
    --title_detail: 204px;

    --title_simple_max: 198px;
    --title_simple: 194px;
    --title_min: 192px;
    --sub_title_max_master: 190px;
    --sub_title_max: 188px;
    --sub_title_max_plus: 186px;
    --sub_title_master: 182px;
    --sub_title_master_min: 180px;
    --sub_title_size_max: 178px;
    --sub_title_size_max_med: 174px;
    --sub_title_size_simple_max: 172px;
    --sub_title_size_simple: 170px;
    --sub_title_size: 168px;
    --sub_title_great_full: 162px;
    --sub_title_great_max: 160px;
    --sub_title_great-master-plus: 158px;
    --sub_title_great-master: 156px;
    --sub_title_great: 154px;
    --sub_title_great_simple: 152px;
    --sub_title_great_med: 150px;
    --sub_title_great_med_plus: 146px;
    --sub_title_great_master: 140px;
    --sub_title_great_great: 138px;
    --sub_title_great_min_master: 136px;
    --sub_title_great_min: 138px;
    --sub_title_great_detail: 134px;
    --sub_title_medium_full: 136px;
    --sub_title_medium: 132px;
    --sub_title_medium_med: 130px;
    --sub_title_medium_max: 128px;
    --sub_title_plus_master: 126px;
    --sub_title_plus_max: 122px;
    --sub_title_plus: 124px;
    --sub_title_plus_min: 120px;
    --sub_title_min_simple: 116px;
    --sub_title_min: 116px;
    --sub_title: 114px;
    --sub_title_med: 112px;
    --sub_title_med_simple: 110px;
    --sub_title_med_simple_plus: 106px;
    --font_plus_master_detail: 102px;

    --font_plus_master: 100px;
    --font_plus_master_min: 96px;
    --font_plus_max_med_simple: 94px;
    --font_plus_max_med: 92px;
    --font_plus_max_med_min: 90px;
    --font_plus_max_simple_size: 88px;
    --font_plus_max_simple: 86px;
    --font_plus_max: 84px;
    --font_plus_min_simple: 82px;
    --font_plus_min: 80px;
    --font_plus_detail: 78px;
    --font_plus: 76px;
    --font_plus_simple: 74px;
    --font_medium: 72px;
    --font_med: 70px;
    --font_min_max: 68px;
    --font_min: 66px;
    --body_great_med: 64px;
    --body_great: 62px;
    --body_simple: 60px;
    --body_size: 58px;
    --body_size_simple: 58px;
    --body_size_min: 56px;
    --body_size_med: 54px;
    --body_medium: 52px;
    --body_max: 50px;
    --body_master: 48px;
    --body_med_min: 46px;
    --body_med_simple: 44px;
    --body_med_plus_min: 42px;
    --body_med_plus: 40px;
    --body_med: 38px;
    --body_min: 36px;
    --body_min_simple: 34px;
    --body_detail: 32px;
    --body: 30px;
    --detail-max: 28px; 
    --detail-med: 26px; 
    --detail: 22px; 
    --med-plus: 20px;
    --med-simple: 16px;
    --med: 14px;
    --font_small: 12px;
  





    /* Cores */
    --white: #FFFFFF; 
    --dark_white: #FAFAFA;
    --white_plus: #E7EAF3;
    --bege: #F3E4D5;
    --black: #090401;
    --red: #DA291C;   
    --redStrong: #E3262E; 
    --orange: #F5842B;
    --shadowOrange: #E3661C;
    --dark_orange: #E8761D;
    --blue: #0097A9;
    --grey_plus: #EAEAEA;
    --dark_grey: #363636;
    --grey: #A7A8AA;
    --grey_simple: #C7C7C7;
    --grey_light: #EBEBEB;

    --shadowRed: #C84617;

    /* Espaçamentos */





    --item-space-max-size: 260px;
    --item-space-max-med: 230px;
    --item-space-maximo: 200px;
    --item-space-size-max-great: 170px;
    --item-space-size-max: 160px;
    --item-space-max-great: 154px;
    --item-space-max: 130px;
    --item-space-max-min: 125px;
    --item-space-size-simple: 115px;
    --item-space-size: 100px;
    --item-space-size-min: 95px;
    --item-space-master-min: 90px;
    --item-space-master: 80px;
    --item-space-master-med: 75px;
    --item-space-large: 70px; 
    --item-space-great: 60px;
    --item-space-medium: 55px;
    --item-space-med-plus: 50px; 
    --item-space-plus-min: 45px; 
    --item-space-plus: 40px; 
    --item-space-med: 35px;
    --item-space-med-min: 30px;
    --item-space-simple-min: 25px;
    --item-space-simple: 20px;
    --item-space-small: 15px; 
    --item-space-min: 10px;




    /* border-radius */
    --border_max: 100%;

    /* Transições */
    --slow: all 0.5s;
    --slow-fast: all 0.4s;
    --slow-med: all 0.7s;

    /* Font-family */


    
    --dinpro: 'DINPro', sans-serif;
    --din-light: 'DINPro-Light', sans-serif;
    --din-regular: 'DINPro-regular', sans-serif;
    --din-medium: 'DINPro-Medium', sans-serif;
    --din-mediumItalic: 'DINPro-MediumItalic', sans-serif;
    --din-semiBold: 'DINPro-SemiBold', sans-serif;
    --din-bold: 'DINPro-Bold', sans-serif;
    --din-pro-bold-italic: 'DIN-Pro-Bold-Italic', sans-serif;
    --din-extraBold: 'DINPro-ExtraBold', sans-serif;
    --din-black: 'DINPro-Black', sans-serif;
    --din-blackItalic: 'DINPro-BlackItalic', sans-serif;
    --din-heavy: 'DINpro-Heavy', sans-serif;
    
    --din-CondIta: 'DINPro-CondIta', sans-serif;
    --din-CondMedium: 'DINPro-CondMedium', sans-serif;
    --din-cond-med-italic: 'DINPro-CondMediIta', sans-serif;
    --din-CondBold: 'DINPro-CondBold', sans-serif;
    --din-CondBoldIta: 'DINPro-CondBoldIta', sans-serif;
    --din-CondBlack: 'DINPro-CondBlack', sans-serif;
    --din-CondBlackIta: 'DINPro-CondBlackIta', sans-serif;

    --monument-ultralight: 'Monument-Extended-Ultralight', sans-serif;
    --monumentExtended-light: 'MonumentExtended-Light', sans-serif;
    --monument-regular: 'MonumentExtended-Regular', sans-serif;
    --monument-bold: 'Monument-Extended-bold', sans-serif;
    --monument-ultrabold: 'MONUMENTEXTENDED-ULTRABOLD', sans-serif;
    --monumentExtended-Black: 'MonumentExtended-Black', sans-serif;

    --rightGrotesk-Fine: 'RightGrotesk-Fine', sans-serif;

    --rightGrotesk-NarrowLight: 'RightGrotesk-NarrowLight', sans-serif;
    --rightGrotesk-narrowLight: 'RightGrotesk-NarrowLight', sans-serif;

    --rightGrotesk-spatialRegular: 'RightGrotesk-SpatialRegular', sans-serif;
    --rightGrotesk-medium: 'RightGrotesk-medium', sans-serif;
    --rightGrotesk-WideMedium: 'RightGrotesk-WideMedium', sans-serif;
    --rightGrotesk-TightMedium: 'RightGrotesk-TightMedium', sans-serif;
    
    --grotesk-tallbold: 'RightGrotesk-TallBold', sans-serif;
    
    --rightGrotesk-wideBlack: 'RightGrotesk-WideBlack', sans-serif;
    --grotesk-compactBlack: 'RightGrotesk-CompactBlack', sans-serif;
    --grotesk-tightBlack: 'RightGrotesk-TightBlack', sans-serif;
    --rightGrotesk-spatialBlack: 'RightGrotesk-SpatialBlack', sans-serif;

    --bold: 700;
    --medium: 500;                                           
    --regular: 400;
    --weightBlack: 900;
}

body * {
	font-family: var(--din-regular);
	font-weight: var(--regular);
	box-sizing: border-box;
	line-height: var(--line_height);
	-webkit-tap-highlight-color: transparent;
}

body, h1, h2, h3, h4, h5, p {
	margin: 0px;
	padding: 0px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}


.orangeBlock {
    background-color: var(--orange)!important;
}

.blueBlock {
    background-color: var(--blue)!important;
}

.whiteBlock {
    background-color: var(--white)!important;
}

.greyPlusBlock {
    background-color: var(--grey_plus)!important;
}

.greyLightBlock {
    background-color: #F3F3F3 !important;
}

.redBlock {
    background-color: var(--red)!important;
}


@media screen and (max-width: 1500px){
    :root{
    --container: 1000px;
    }
}

@media screen and (max-width: 1051px) {

    :root {
        /* fonts */
        --container: calc(100% - 40px);
        --font-max: 100px;
        --title: 85px;
        --sub_title: 92px;
        --sub_title_med: 90px;
        --font_plus: 26px;
        --font_plus_mobile: 76px;
        --font_med_mobile: 70px;
        --font_med: 56px;
        --body_plus: 50px;
        --body_max: 38px;
        --body_med_min: 36px;
        --body_med: 30px;
        --body: 24px;
        --detail_med_min: 22px;
        --detail: 18px; 
        --title-max: 130px;
    
        /* Espaçamentos */
        --item-space-max: 65px;
        --item-space-size: 70px;
        --item-space-size-max: 100px;
    }
}